<h1>{{ title }}</h1>
<p>
  To get a better in depth look at this folder structure and why it is used. <br>
  Read <a href="https://itnext.io/choosing-a-highly-scalable-folder-structure-in-angular-d987de65ec7">this article.</a>
</p>
<h1>SCSS Structure</h1>
<p>
  The scss structre should be a good starting point. I would also use a vaiable file for them to control each section as well.
  This should give you a great startingpoint to start your own custum scss framework for your apps
</p>
<p>
  So make your framework in the SCSS folder and only add custom component specific styles to the yourComponent.component.scss
</p>
<h1>EXTRAS</h1>
<p>
  I included some mixins and grid systems I use on a regular basis that you might like. <br>
  The media queries mixin is the absolute shit!.<br>
  Have Fun Learning Angular!
</p>
